includes:
    - ./vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - ./vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - src
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    ignoreErrors:
        - '#Unsafe usage of new static#'
