includes:
    - ./vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 5
    paths:
        - src
    excludePaths:
        - src/Resources/TenantResource/Pages/ListTenants.php
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Call to static method make\(\) on an unknown class Filament\\#'
        - '#has invalid return type Filament\\#'
        - '#Call to function method_exists\(\) with .* will always evaluate to true#'
        - '#Parameter \#1 \$actions of method Filament\\Tables\\Table::actions\(\)#'
